@model IEnumerable<e_shows.Models.Cinema>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDescription)
            </td>
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.CId"><i class="bi bi-pencil-square"></i></a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.CId"><i class="bi bi-info-square"></i></a> |
                    <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.CId"><i class="bi bi-trash"></i></a>
                </td>
        </tr>
}
    </tbody>
</table>
